@page "{id:int?}"
@model AspNetCoreWebApp.Pages.ClienteCRUD.AlterarModel
@{
    ViewData["Title"] = "Alteração de Cliente";
}

<main class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h1>@ViewData["Title"]</h1>
            <hr />
            <form method="post" class="mt-3">
                <span>Código do cliente: @Model.Cliente.ClienteId.ToString("D6")</span>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Cliente.ClienteId"/>
                <fieldset>
                    <legend>Dados Pessoais</legend>
                    <div class="form-group">
                        <label asp-for="Cliente.Nome" class="control-label"></label>
                        <input asp-for="Cliente.Nome" class="form-control col-6" />
                        <span asp-validation-for="Cliente.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cliente.CPF" class="control-label"></label>
                        <span>(Somente números)</span>
                        <span class="font-weight-bold d-block">@Html.DisplayFor(modelItem => modelItem.Cliente.CPF)</span>
                        <span asp-validation-for="Cliente.CPF" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cliente.DataNascimento" class="control-label"></label>
                        <input asp-for="Cliente.DataNascimento" class="form-control col-3" />
                        <span asp-validation-for="Cliente.DataNascimento" class="text-danger"></span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Contatos</legend>
                    <div class="form-group">
                        <label asp-for="Cliente.Email" class="control-label"></label>
                        <span class="font-weight-bold d-block">@Html.DisplayFor(modelItem => modelItem.Cliente.Email)</span>
                        <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cliente.Telefone" class="control-label"></label>
                        <span>(com DDD, Somente números)</span>
                        <input asp-for="Cliente.Telefone" class="form-control col-4" />
                        <span asp-validation-for="Cliente.Telefone" class="text-danger"></span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Endereço</legend>
                    <div class="form-group">
                        <label asp-for="Cliente.Endereco.CEP" class="control-label"></label>
                        <span>(somente números)</span>
                        <div class="input-group">
                            <input asp-for="Cliente.Endereco.CEP" class="form-control col-2" />
                            <div class="input-group-append">
                                <span class="input-group-text p-1" type="button" data-toggle="tooltip" title="Pesquisar">
                                    <svg class="bi" width="24" height="24" fill="currentColor" id="pesquisar">
                                        <use xlink:href="/bi.svg#search" />
                                    </svg>
                                </span>
                                <span class="input-group-text p-1">
                                    <svg class="bi d-none" width="24" height="24" fill="currentColor" id="cep_loading">
                                        <use xlink:href="/bi.svg#hourglass-split" />
                                    </svg>
                                    <svg class="bi d-none" width="24" height="24" fill="currentColor" id="cep_loading">
                                        <use xlink:href="/bi.svg#hourglass-split" />
                                    </svg>
                                    <svg class="bi d-none" width="24" height="24" fill="currentColor" id="cep_checked">
                                        <use xlink:href="/bi.svg#check" />
                                    </svg>
                                    <svg class="bi" width="24" height="24" fill="currentColor" id="cep_none">
                                        <use xlink:href="/bi.svg#x" />
                                    </svg>
                                </span>
                            </div>

                        </div>
                        <div>
                           
                        </div>
                        <span class="text-muted d-block" id="endereco">Digite um CEP válido e aguarde.</span>
                        <span asp-validation-for="Cliente.Endereco.CEP" class="text-danger"></span>
                        <input type="hidden" asp-for="Cliente.Endereco.Cidade" value="" />
                        <input type="hidden" asp-for="Cliente.Endereco.Estado" value="" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Cliente.Endereco.Logradouro" class="control-label"></label>
                        <input asp-for="Cliente.Endereco.Logradouro" class="form-control col-4" placeholder="Digite o nome da rua" />
                        <span asp-validation-for="Cliente.Endereco.Logradouro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cliente.Endereco.Logradouro2" class="control-label"></label>
                        <input asp-for="Cliente.Endereco.Logradouro2" class="form-control col-4" placeholder="Digite o nome da rua" />
                        <span asp-validation-for="Cliente.Endereco.Logradouro2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cliente.Endereco.Bairro" class="control-label"></label>
                        <input asp-for="Cliente.Endereco.Bairro" class="form-control col-4" placeholder="Digite o nome do bairro" />
                        <span asp-validation-for="Cliente.Endereco.Bairro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cliente.Endereco.Complemento" class="control-label"></label>
                        <input asp-for="Cliente.Endereco.Complemento" class="form-control col-4" placeholder="Casa, Apto, etc..." />
                        <span asp-validation-for="Cliente.Endereco.Complemento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cliente.Endereco.Numero" class="control-label"></label>
                        <input asp-for="Cliente.Endereco.Numero" class="form-control col-2" />
                        <span asp-validation-for="Cliente.Endereco.Numero" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Cliente.Endereco.Referencia" class="control-label"></label>
                        <input asp-for="Cliente.Endereco.Referencia" class="form-control col-4" />
                        <span asp-validation-for="Cliente.Endereco.Referencia" class="text-danger"></span>
                    </div>
                </fieldset>
                <div class="form-group text-left">
                    <a asp-page="./Listar" class="btn btn-info">Cancelar</a>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</main>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_CustomConfirm");}
    @{ await Html.RenderPartialAsync("_ConsultaCEP");}

}