@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo à DigitalStore</h1>
    <p><a>Os melhores produtos da internet você só encontra aqui.</a>.</p>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <form class="form-inline justify-content-center justify-content-md-start mb-sm-3 mb-md-0" action="/Index" method="get" id="formBusca">
            <input type="text" name="q" id="q" placeholder="Nome do produto a buscar" class="form-control form-control-sm mr-sm-2" />
            <input type="hidden" name="o" value="0" id="o" />
            <input type="hidden" name="p" value="1" id="p" />
            <button class="btn btn-sm btn-success my-2 my-sm-0 form-control form-control-sm">Buscar</button>
        </form>
    </div>
    <div class="col-12 col-md-6">
        <div class="d-flex flex-row-reverse justify-content-md-start justify-content-center">
            @if (Model.Produtos.Count > 1)
            {
                <form class="form-inline ml-3 d-inline-block">
                    <select class="form-control custom-select-sm selectOrdem">
                        <option value="1">Ordenar pelo nome do produto</option>
                        <option value="2">Ordenar pelo menor preço</option>
                        <option value="3">Ordenar pelo maior preço</option>
                    </select>
                </form>
            }
            <nav class="d-inline-block">
                <ul class="pagination pagination-sm my-0">
                    @for (int i = 1; i <= Model.QuantidadePaginas; i++)
                    {
                        if (i == Model.PaginaAtual)
                        {
                            <li class="page-item disabled">
                                <button class="page-link" value="@i"><b>@i</b></button>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <button class="page-link" value="@i">@i</button>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
    <hr class="mt-4 mb-4" />
    @if (Model.Produtos.Count > 0)
    {
        @foreach (var p in Model.Produtos)
        {
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                <div class="card text-center bg-light mb-4">
                    <img class="card-img-top" src="/img/produtos/@String.Concat(p.ProdutoId.ToString("D6"), ".jpg")" alt="Imagem de @p.Nome">
                    <div class="card-header">
                        R$ @p.Preco.Value.ToString("F2")
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@p.Nome</h5>
                        <p class="card-text">@p.Descricao</p>
                    </div>
                    <div class="card-footer">
                        @if (p.Estoque > 0)
                        {
                            <form class="d-inline-block" asp-page="/Carrinho" asp-page-handler="AddToCart"
                                  asp-route-id="@p.ProdutoId" method="post">
                                <button type="submit" class="btn btn-danger">
                                    Adicionar ao Carrinho
                                </button>
                            </form>
                            <small class="text-success">Estoque: @p.Estoque</small>
                        }
                        else
                        {
                            <div><button class="btn btn-light disabled" disabled><small>Aguardando Reabastecimento</small></button></div>
                            <small class="text-danger"><b>Produto Esgotado</b></small>
                        }
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        if (Request.QueryString.HasValue)
        {
            <div class="col-12">
                <h1>Desculpe, não encontramos o produto <b>@Request.Query["termoBusca"]</b>. Quer tentar outra coisa?</h1>
            </div>
            <div>
                <a href="/">Voltar a Lista de produtos</a>
                <br />
                <a href="/Contato">Entrar em contato</a>
            </div>
        }
        else
        {
            <div class="col-12">
                <h1>Não há produtos cadastrados. <b>@Request.Query["termoBusca"]</b></h1>
            </div>
        }
    }
</div>
<hr class="mt-0" />
<div class="row">
    <div class="col-12">
        <div class="d-flex flex-row-reverse justify-content-md-start justify-content-center">
            @if (Model.Produtos.Count > 1)
            {
                <form class="form-inline ml-3 d-inline-block">
                    <select class="form-control custom-select-sm selectOrdem" @(Model.Produtos.Count <= 1 ? "disabled" : "")>
                        <option value="1">Ordenar pelo nome do produto</option>
                        <option value="2">Ordenar pelo menor preço</option>
                        <option value="3">Ordenar pelo maior preço</option>
                    </select>
                </form>
            }
            <nav class="d-inline-block">
                <ul class="pagination pagination-sm my-0">
                    @for (int i = 1; i <= Model.QuantidadePaginas; i++)
                    {
                        if (i == Model.PaginaAtual)
                        {
                            <li class="page-item disabled">
                                <button class="page-link" value="@i">@i</button>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <button class="page-link" value="@i">@i</button>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        $(document).ready(function () {
            var qs = getUrlVars();
            if (qs["o"] != null) {
                $(".selectOrdem").val(qs["o"]);
                $("#o").val(qs["o"]);
            } else {
                $(".selectOrdem").val("1");
                $("#o").val("1");
            }
            if (qs["q"] != null) {
                $("#q").val(decodeURI(qs["q"]));
            }
        });

        $(".selectOrdem").change(function () {
            $("#o").val($(this).val());
            $("#formBusca").submit();
        });

        $(".page-link").click(function () {
            $("#p").val($(this).val());
            $("#formBusca").submit();
        });
    </script>
}